.containerServices {
  padding: 10px 0px 10px 0px;
}

.containerServices h2 {
  margin-bottom: 50px;
  color: #0c1444;
  font-size: 3.75rem;
  text-shadow: 1px 2px 2px gray;
}

.containerServices p {
  color: #575656;
  font-size: 1.5rem;
}

.detalleServices1 {
  display: inline;
}

.detalleServices2 {
  display: inline;
  font-weight: bold;
}

.rowServices {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.colServices {
  margin: 0px;
  padding: 80px 10px 0px 10px;
}

.colServices img {
  width: 294px;
  height: 238px;
  box-shadow: 15px 15px 15px gray;
}

.colServices h3 {
  color: #0c1444;
  padding-top: 80px;
  font-size: 2.5rem;
  text-shadow: 1px 2px 2px gray;
}

.colServices ul {
  margin-bottom: 100px;
  padding-top: 40px;
}

.colServices ul li {
  color: #575656;
  font-size: 1.25rem;
  text-align: left;
}
