.containerServices {
  margin: 0px;
  padding: 10px 0px 10px 0px;
  background-color: #ffff;
}

.containerServices h2 {
  color: #0c1444;
  font-size: 3.75rem;
  text-shadow: 1px 2px 2px gray;
}

.containerServices p {
  color: #575656;
  font-size: 1.5rem;
}

.rowServices {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.colServices {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.colServices img {
  width: 294px;
  height: 238px;
}

.colServices h3 {
  color: #0c1444;
  font-size: 2.5rem;
  text-shadow: 1px 2px 2px gray;
}

.colServices li {
  color: #575656;
  font-size: 1.25rem;
}
