.bimCard{
    background-color: transparent !important;
}
.bimTitle{
    color: #DC0C62 !important;
}

.textBIMContainer{
    max-width: 80vw;
    color: white;
    text-align: start;
    margin: 3rem;
}