.bimCard{
    background-color: transparent !important;
}
.bimTitle{
    color: #DC0C62 !important;
    font-size: 4rem;
    hyphens: none;
}

.textBIMContainer{
    color: white;
    text-align: justify;
    margin: 7rem;
    font-size: 1.25rem;
}

@media screen and (max-width: 767px) {
    .textBIMContainer{
        margin: 2rem;
    }
    
}
