.App {
  text-align: center;
}

.appContainer{
  user-select: none;
  }
  
  .carousel-control-next-icon {
    background-color: black;
    height: 70px !important;
  }

  .carousel-control-prev-icon {
    background-color: black;
    height: 70px !important;
  }