.cardsTitle{
    font-size: 2rem !important;
    color: #0C1444 !important; 
}

.cardsText{
    text-align: justify;
    margin-bottom: 0px;
    font-size: 1.25rem;
    color: #747474;
}

.cardsText p {
    color: #0C1444 !important; 
    font-size: 1.25rem !important;
}

.bimCards{
    height: 27rem;
    width: 27rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(240, 235, 235);
}