.bimMethodologyContainer{
  background-color: rgba(12, 20, 68, 0.78);
  margin: 0px;
  padding: 250px 0px 10px 0px !important;
} 

.containerBim h2 {
  margin-bottom: 50px;
  color: #dc0c62;
  text-shadow: 1px 2px 2px black;
  hyphens: none;
}

.detalleBimContainer {
  text-align: justify;
  margin: 2rem;
}

.containerBim p {
  color: #ffff;
}

.containerBim input {
  font-size: 1.25;
}

.detalleBim1 {
  display: inline;
}

.detalleBim3 {
  margin: 0px;
}

.botonSaberMas {
  margin: 60px 0px 60px 0px;
  font-size: 1.25rem;
  color: white;
  background-color: transparent;
  padding: 10px 30px 10px 30px;
  border: 2px solid white;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .containerBim h2 {
    font-size: 2rem;
  }
  .containerBim p {
    font-size: 1rem;
  }
}


@media (min-width: 768px) and (max-width: 1200px) {
  .containerBim h2 {
    font-size: 3rem;
  }
  .containerBim p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1201px) {
  .containerBim h2 {
    font-size: 4rem;
  }
  .containerBim p {
    font-size: 1.5rem;
  }
  
}
