#componentAboutAs {
    padding-top: 100px;
    background-image: url("../../img/aboutUsBackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #componentBimMethodology {
    background-image: url("../../img//fondoBim.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    max-width: 100%;
  }
  
  #componentServices {
    padding-top: 100px;
    background-color: #ffffff;
  }
  
  #componentPortafolio {
    padding-top: 100px;
    background-image: url("../../img/portfolioBackgroundHome.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #componentClients {
    background-color: #ffffff;
  }
  
  #componentContact {
    padding-top: 100px;
    background-color: #0c1444;
  }
  