.footerContainer{
    background-color: #0C1444 !important;
    min-height: 10.5rem;
}

.footerContainerDos{
    width: 100%;
}

.footerText{
    color: #ffff;
    background-color: #0C1444;
    text-align: start;
}

.footerIcon{
    width: 2rem;
    height: 2rem;
    margin-top: 1.5rem;
}

.footerBrand{
    margin-top: 1rem;
    cursor:default !important;
}

