.portafolioContainer {
    max-width: 100%;
}

.portafolioProject {
    height: 50vh;
}

.portafolioCard {
    width: 20vw;
    margin: 1.5rem;
    text-align: start;
    hyphens: auto;
}

.portafolioCard img {
    width: 20vw;
    height: 40vh;
}

.slick-slider {
    max-width: 71vw;
}

.slick-list {
    max-height: 45vh;
}

.slick-arrow {
    border-radius: 50%;
}

.blue {
    background-color: rgb(12, 20, 68, .9);
}

.blue div {
    background-color: rgb(12, 20, 68, 0);
}

.textWhite {
    color: white;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.textGray {
    color: #575656;
}

.textBlue {
    color: #0C1444;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.cardTitle {
    hyphens: none;
}

@media screen and (max-width: 480px) {
    .cardText {
        font-size: 14px;
    }

    .cardTitle {
        font-size: 16px;
    }

    .portafolioProject {
        height: 30vh;
    }

    .slick-slider {
        max-width: 50vw;
    }

    .portafolioCard {
        margin: .8rem;
        width: 35vw;
    }

    .portafolioCard img {
        width: 40vw;
        height: 25vh;
    }
}

@media screen and (min-width: 481px) and (max-width: 680px) {
    .cardText {
        font-size: 14px;
    }

    .cardTitle {
        font-size: 16px;
    }

    .portafolioProject {
        height: 40vh;
    }

    .slick-slider {
        max-width: 70vw;
    }

    .portafolioCard {
        width: 20vw;
    }

    .portafolioCard img {
        width: 25vw;
        height: 30vh;
    }
}

@media screen and (min-width: 681px) and (max-width: 999px) {
    .cardText {
        font-size: 14px;
    }

    .cardTitle {
        font-size: 16px;
    }

    .portafolioProject {
        height: 40vh;
    }

    .slick-slider {
        max-width: 70vw;
    }

    .portafolioCard {
        width: 20vw;
    }

    .portafolioCard img {
        width: 25vw;
        height: 30vh;
    }
}


@media (min-width: 1000px) {
    .cardTitle {
        font-size: 1.25rem;
    }
}