.navbar {
    z-index: 9999;
}
.navBar{
    margin-right:6rem;
}

.headerBrand{
    margin-top: 2rem;
    margin-left: 1rem;
}

.headerText{
    color: #0C1444 !important;
    font-size: large !important;
    font-weight: bold !important;
    margin-top: 2rem;
    margin-left: 2.5rem;
    text-decoration: none;
}