.containerContact {
  padding: 10px 0px 10px 0px;
}

.rowContact1 h2 {
  font-size: 3.75rem;
  color: #dc0c62;
  text-shadow: 1px 2px 2px black;
}

.rowContact1 label {
  display: block;
  font-size: 1.25rem;
  color: #ffff;
}

.rowContact2 {
  margin: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.rowContact2 input {
  margin: 0px 0px 10px 0px;
  padding: 5px;
  font-size: 1.25rem;
}

.rowContact3 {
  margin: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.rowContact3 textarea {
  margin: 0px 0px 10px 0px;
  padding: 5px;
  font-size: 1.25rem;
  height: 8rem;
  width: 100%;
}

.colContact input {
  width: 100%;
  vertical-align: text-top;
}

.botonEnviar {
  margin: 10px 0px 10px 0px;
  font-size: 1.25rem;
  color: white;
  background-color: #dc0c62;
  padding: 10px 100px 10px 100px;
  /* opacity: 0.5; */
  border: 2px solid red;
  border-radius: 1px;
}

.sendingEmail {
  font-size: 1.5rem;
  color: #ffff;
  text-shadow: 1px 2px 2px gray;
  padding-bottom: 50px;
}
