.portafolioTitle{
    color: #DC0C62;
    font-size: 4rem;
    min-width: 100%;
    hyphens: none;
}

.card {
    border: 0px;
}

.card-img{
    border-radius: 0px;
}

.portafolioDescription{
    font-size: 1.25rem;
    text-align: justify;
    max-width: 87%;
}

@media screen and (max-width: 767px) {
    .cardImageBackground{
        min-height: 100vh;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .cardImageBackground{
        min-height: 70vh;
    }
}

